<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask My First App</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/showSignIn">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>My First App</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>
 
       
 
    </div>
  </body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../static/jquery-3.3.1.min.js"></script>

<script>
    $(function() {
        $('#btnSignUp').click(function() {
            $.ajax({
                url: '/signUp',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error : function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>

</html>


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































<!--
30/11/18 - added a stored procedure to add users

BEGIN
    IF (select exists (select 1 from tbl_user where login = p_login)) THEN
        select 'Username exists!';
    ELSE
        START TRANSACTION;
        insert into tbl_user
        (
            login,
            password
        )
        values
        (
            p_login,
            p_password
        );
    END IF;
END$$
DELIMITER ;

--------------------------------------------------------------------------------

01/12/18 - my friend told me not to store passwords as plaintext...
Removed everything from the database and disabled persistence of changes in db until I fix this.
-->
